#canvas-container {
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    background-color: black;
    overflow-y: auto;
}

#canvas-container {
    font-family: 'Courier New', Courier, monospace;
}

#canvas-container p {
    font-size: larger;
    white-space: pre-line;
}

.wide-button {
    width: 100%;
    padding: 8px 10px;
    font-size: large;
    font-weight: bolder;
}

.choice-button {
    font-size: 1.3em;
    padding: 12px 18px;
    margin: 8px;
    border: 5px solid transparent;
    background: rgb(0, 0, 0);
    border-radius: 500px;
    display: inline-block;
    box-shadow: 0 0 20px 5px #052139,
        inset 0 0px 8px #0d5a9d;
    color: #1a94ff;
    text-decoration: none;
    cursor: pointer;
}

.choice-button:hover {
    font-size: 1.3em;
    padding: 12px 18px;
    margin: 8px;
    border: 5px solid transparent;
    background: rgb(17, 32, 69);

    color: #42a2f7;
}

.choice-button:disabled:not(.selected-btn) {
    pointer-events: none;
    color: grey;
    box-shadow: 0 0 20px 5px #2f2f2f,
        inset 0 0px 8px #787878;
}
